  li,ul{
    list-style: none;
  }

  body,li,ul,img,a,div,header{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  body,html{
    position: relative;
    color:#6E6E6E;
    font-family: 微软雅黑;
    overflow: hidden;
    height: 100%;
    width: 100%;

  }
  iframe{
    border-style: 0px;
    padding: 0px;
    margin: 0px;
  }
  #header{
    -webkit-app-region: drag;
    width: 100%;
    height: 30px;
    background-color: crimson;
    line-height: 30px;
    color: floralwhite;
    user-select: none;
    overflow: hidden;
    border: 0px;

  }
  #header *{
    -webkit-app-region: no-drag;
  }
  #header #logo{
    float: left;
    width: 30px;
    height: 30px;
    background-image: url('../img/a.png');
  }
  #header #bt{
    float:left;
    margin-left: 10px;
  }
  #header #bt #cd li{
    float: left;
    padding: 0px 10px;
    cursor: default;
  }

  #header #headerright{
    float: right;
  }
  #header #headerright li{
    float: left;
    padding: 0px 15px;
    cursor:default;
    font-size: 16px
  }
  #main{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #main #left{

    float: left;
    height: 100%;
    min-width: 150px;
    max-width: 250px;
    border-right: 1px #E0E0E0 solid;
    font-weight: 600
  }
  #main #right{
    padding: 10px;
    margin: 0px;
    height: 100%;
    overflow:auto;
    overflow-x: hidden;
  }

  #ceshi li{
    border-bottom:1px solid #241;
  }
  #fdcd{
    position:fixed;
    color:black;
    z-index: 1000;
  }
  #fdcd li{
    width: 150px;
    /* overflow: hidden; */
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
     border-bottom:1px solid #E0E0E0;
    background-color: white
  }
  #fdcd li:last-child{
    border-bottom: 0px;
  }
  #zhebi{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0.5;
    /* top: 30px; */
  }
  .tcbox{
    top: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    z-index: -99;
  }
  #loadhtml{
  }
  .box-zb{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: rgb(124, 125, 129); */
    opacity: 0.5;
  }
  .loginclass{

  }





